body {
  padding: 10px;
  background-color: #e9ecef;
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
}

/* Top panel */

.header {
  color: #868e96;
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

.top-panel {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.top-panel__camera {
  overflow: auto;
  -webkit-flex: 4;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.top-panel__placeholder-image {
  height: 100%;
  width: 100%;
}

.top-panel__side-bar {
  -webkit-flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  padding-left: 5px;
}

.top-panel__icon {
  height: 35px;
}

.top-panel__fidget {
  color: #343a40;
  text-align: center;
}

.top-panel__fidget-label {
  margin: 0 0 5px 0;
}

/* Input panel */

.input-panel__wrapper {
  border-radius: 5px;
  background: #dee2e6;
  border: 1px solid #ced4da;
  margin: 10px 0;
}

.input-panel {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  overflow: auto;
  height: 70px;
}

.input-panel__speed {
  background-color: #ced4da;
}

.input-panel__label {
  font-size: 1.2em;
  display: inline-block;
  -webkit-flex: 2;
  align-self: center;
  -webkit-align-self: center;
  text-align: center;
  color: #343a40;
}

.input-panel__input {
  -webkit-flex: 4;
  align-self: center;
  -webkit-align-self: center;
}

.input-panel__radio-label {
  padding: 0 5px 0 0;
  vertical-align: bottom;
}

/* Buttons */

button {
  border: none;
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 5px;
  color: white;
}

.button__go {
  width: 100%;
  height: 75px;
  background-color: #a9e34b;
  font-size: 1.1em;
  margin-bottom: 10px;
  border-bottom: 3px solid #94d82d;
}

.button-panel__stop-clear {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.button__stop, .button__clear {
  font-size: 1em;
  height: 40px;
  -webkit-flex: 1;
}

.button__stop {
  background-color: #f76707;
  margin-left: 5px;
  border-bottom: 3px solid #d9480f;
}

.button__clear {
  background-color: #3bc9db;
  margin-right: 5px;
  border-bottom: 3px solid #22b8cf;
}




/* extra slider stuff */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ced4da;
  border: 1px solid #868e96;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #868e96;

  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #a9e34b;
  border: 1px solid #94d82d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
